In [8]:
!python -V

Python 3.9.19

In [2]:
!pip install QuantTraderLib==1.0.23

Collecting QuantTraderLib==1.0.22
  Downloading QuantTraderLib-1.0.22-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: numpy==2.0.1 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (2.0.1)
Requirement already satisfied: yfinance==0.2.41 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.2.41)
Requirement already satisfied: vnstock==0.2.9.2.2 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.2.9.2.2)
Requirement already satisfied: pandas==2.2.2 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (2.2.2)
Requirement already satisfied: pandas-datareader==0.10.0 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.10.0)
Requirement already satisfied: bokeh==3.4.3 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (3.4.3)
Requirement already satisfied: backtesting==0.3.3 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.3.3)
Requirement already satisfied: lunardate==0.2.2 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.2.2)
Requirement already satisfied: seaborn==0.13.2 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (0.13.2)
Requirement already satisfied: scikit-learn==1.5.1 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from QuantTraderLib==1.0.22) (1.5.1)
Requirement already satisfied: Jinja2>=2.9 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (3.1.4)
Requirement already satisfied: contourpy>=1.2 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (1.2.1)
Requirement already satisfied: packaging>=16.8 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (24.1)
Requirement already satisfied: pillow>=7.1.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (10.4.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (6.0.1)
Requirement already satisfied: tornado>=6.2 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (6.4.1)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from bokeh==3.4.3->QuantTraderLib==1.0.22) (2024.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from pandas==2.2.2->QuantTraderLib==1.0.22) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from pandas==2.2.2->QuantTraderLib==1.0.22) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from pandas==2.2.2->QuantTraderLib==1.0.22) (2024.1)
Requirement already satisfied: lxml in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (5.3.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (2.32.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1->QuantTraderLib==1.0.22) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1->QuantTraderLib==1.0.22) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from scikit-learn==1.5.1->QuantTraderLib==1.0.22) (3.5.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from seaborn==0.13.2->QuantTraderLib==1.0.22) (3.9.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (4.2.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from yfinance==0.2.41->QuantTraderLib==1.0.22) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.41->QuantTraderLib==1.0.22) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from html5lib>=1.1->yfinance==0.2.41->QuantTraderLib==1.0.22) (1.16.0)
Requirement already satisfied: webencodings in c:\users\lemin\appdata\roaming\python\python39\site-packages (from html5lib>=1.1->yfinance==0.2.41->QuantTraderLib==1.0.22) (0.5.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from Jinja2>=2.9->bokeh==3.4.3->QuantTraderLib==1.0.22) (2.1.5)
Requirement already satisfied: cycler>=0.10 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (3.1.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (6.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from requests>=2.19.0->pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from requests>=2.19.0->pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lemin\anaconda3\envs\venv\lib\site-packages (from requests>=2.19.0->pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from requests>=2.19.0->pandas-datareader==0.10.0->QuantTraderLib==1.0.22) (2024.7.4)
Requirement already satisfied: zipp>=3.1.0 in c:\users\lemin\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn==0.13.2->QuantTraderLib==1.0.22) (3.19.2)
Downloading QuantTraderLib-1.0.22-py3-none-any.whl (64 kB)
Installing collected packages: QuantTraderLib
  Attempting uninstall: QuantTraderLib
    Found existing installation: QuantTraderLib 1.0.17
    Uninstalling QuantTraderLib-1.0.17:
      Successfully uninstalled QuantTraderLib-1.0.17
Successfully installed QuantTraderLib-1.0.22

In [43]:
from QuantTraderLib.data import get_data, clean_data
from datetime import datetime

## Get data

### VN stock, index, derivative

In [44]:
data = get_data.get_vnstock(symbol='VCB', start_date="2023-01-01", resolution='1H')
data

The retrieval of stock data is restricted to the most recent 90 days from today for all resolutions shorter than 1 day.

                   Date  Open  High   Low  Close
0   2024-07-08 09:00:00  88.0  88.7  88.0   88.2
1   2024-07-08 10:00:00  88.2  88.3  87.8   87.8
2   2024-07-08 11:00:00  87.8  87.9  87.6   87.9
3   2024-07-08 13:00:00  87.9  88.2  87.6   88.2
4   2024-07-08 14:00:00  88.2  88.2  87.2   87.2
..                  ...   ...   ...   ...    ...
304 2024-10-03 09:00:00  92.6  93.1  92.4   93.0
305 2024-10-03 10:00:00  93.1  93.9  93.1   93.5
306 2024-10-03 11:00:00  93.5  93.6  93.2   93.2
307 2024-10-03 13:00:00  93.2  93.2  92.6   92.7
308 2024-10-03 14:00:00  92.8  92.8  92.5   92.6

[309 rows x 5 columns]

In [45]:
data = get_data.get_vn_index(symbol='VNINDEX', start_date="2023-01-01", resolution='1H')
data.tail()

The retrieval of stock data is restricted to the most recent 90 days from today for all resolutions shorter than 1 day.

                   Date     Open     High      Low    Close
299 2024-10-03 09:15:00  1288.64  1295.46  1288.45  1292.57
300 2024-10-03 10:00:00  1292.58  1299.36  1292.48  1293.47
301 2024-10-03 11:00:00  1293.46  1293.57  1287.74  1287.79
302 2024-10-03 13:00:00  1286.62  1288.14  1280.19  1283.35
303 2024-10-03 14:00:00  1283.48  1286.56  1276.51  1278.10

In [46]:
data = get_data.get_vn_derivative(symbol='VN30F1M', start_date="2024-01-01", resolution='1H')
data.tail()

The retrieval of stock data is restricted to the most recent 90 days from today for all resolutions shorter than 1 day.

                   Date    Open    High     Low   Close
304 2024-10-03 09:00:00  1360.2  1370.5  1359.6  1368.4
305 2024-10-03 10:00:00  1368.4  1376.9  1368.4  1370.3
306 2024-10-03 11:00:00  1370.1  1370.3  1364.1  1364.4
307 2024-10-03 13:00:00  1364.4  1365.9  1356.0  1360.0
308 2024-10-03 14:00:00  1359.7  1363.7  1349.0  1349.0

### Stock

In [47]:
data = get_data.get_stock('TSLA', start_date='2024-01-01')
data.tail()

           Date        Open        High         Low       Close
186  2024-09-27  257.380005  260.700012  254.119995  260.459991
187  2024-09-30  259.040009  264.859985  255.770004  261.630005
188  2024-10-01  262.670013  263.980011  248.529999  258.019989
189  2024-10-02  247.550003  251.160004  241.500000  249.020004
190  2024-10-03  244.479996  249.789993  237.809998  240.660004

### Crypto

In [48]:
crypto = get_data.get_crypto('BTC-USD', start_date='2023-01-01')
crypto.tail()

[*********************100%%**********************]  1 of 1 completed

           Date          Open          High           Low         Close
637  2024-09-29  65888.898438  66069.343750  65450.015625  65635.304688
638  2024-09-30  65634.656250  65635.054688  62873.617188  63329.500000
639  2024-10-01  63335.605469  64110.980469  60189.277344  60837.007812
640  2024-10-02  60836.324219  62357.687500  59996.949219  60632.785156
641  2024-10-04  60747.640625  61215.414062  60498.156250  61120.480469

### Forex

In [49]:
forex = get_data.get_forex('EURUSD=X', start_date='2023-01-01')
forex.tail()

[*********************100%%**********************]  1 of 1 completed

           Date      Open      High       Low     Close
455  2024-09-30  1.116982  1.120838  1.113611  1.116982
456  2024-10-01  1.113660  1.114579  1.106109  1.113660
457  2024-10-02  1.106390  1.108217  1.103412  1.106390
458  2024-10-03  1.104850  1.104850  1.100958  1.104850
459  2024-10-04  1.103509  1.104240  1.103144  1.103509

### Get minute data

In [50]:
forex = get_data.get_forex_minute('EURUSD=X', period='1mo', interval='5m')
forex

[*********************100%%**********************]  1 of 1 completed

                    Date      Open      High       Low     Close
0    2024-09-04 09:45:00  1.105828  1.105828  1.105705  1.105705
1    2024-09-04 09:50:00  1.105705  1.105705  1.105583  1.105583
2    2024-09-04 09:55:00  1.105583  1.105583  1.105461  1.105583
3    2024-09-04 10:00:00  1.105705  1.105828  1.105705  1.105828
4    2024-09-04 10:05:00  1.105828  1.105828  1.105705  1.105705
...                  ...       ...       ...       ...       ...
6259 2024-10-04 09:20:00  1.103631  1.103753  1.103631  1.103753
6260 2024-10-04 09:25:00  1.103631  1.103753  1.103631  1.103631
6261 2024-10-04 09:30:00  1.103509  1.103509  1.103387  1.103387
6262 2024-10-04 09:35:00  1.103266  1.103631  1.103266  1.103631
6263 2024-10-04 09:40:00  1.103631  1.103631  1.103509  1.103509

[6264 rows x 5 columns]

In [51]:
df = get_data.get_vn30f_minute('VN30F1M', '2023-07-01')
df

===> Data VN30F1M from 2023-06-30 17:00:00 to 2286-11-21 00:46:39 has been appended

                     Date    Open    High     Low   Close
0     2023-08-30 09:00:00  1214.0  1214.2  1213.5  1213.7
1     2023-08-30 09:01:00  1213.6  1213.8  1212.8  1213.0
2     2023-08-30 09:02:00  1213.0  1213.3  1213.0  1213.2
3     2023-08-30 09:03:00  1213.3  1213.4  1213.0  1213.1
4     2023-08-30 09:04:00  1213.0  1213.4  1213.0  1213.3
...                   ...     ...     ...     ...     ...
62477 2024-10-04 09:40:00  1349.1  1349.1  1348.8  1348.8
62478 2024-10-04 09:41:00  1348.8  1349.0  1348.5  1348.7
62479 2024-10-04 09:42:00  1348.9  1349.2  1348.7  1349.1
62480 2024-10-04 09:43:00  1349.3  1350.2  1349.1  1349.6
62481 2024-10-04 09:44:00  1349.6  1350.1  1349.5  1350.1

[62482 rows x 5 columns]

## Autoclean data

### Miss in day

In [52]:
trading_days = clean_data.get_vietnam_trading_days('2023-01-01', '2023-07-01')

In [53]:
missing_dates = clean_data.check_missing_trading_dates(data)

print("Missing trading dates:")
print(missing_dates)

Missing trading dates:
          Date
9   2024-01-15
34  2024-02-19
63  2024-03-29
102 2024-05-27
119 2024-06-19
130 2024-07-04

In [54]:
dt = data.copy()
dt = clean_data.fill_missing_days(dt)
missing_dates = clean_data.check_missing_trading_dates(dt)

print("Missing trading dates:")
print(missing_dates)

Missing trading dates:
Empty DataFrame
Columns: [Date]
Index: []

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

### Miss in minute

In [55]:
df.head(3)

                 Date    Open    High     Low   Close
0 2023-08-30 09:00:00  1214.0  1214.2  1213.5  1213.7
1 2023-08-30 09:01:00  1213.6  1213.8  1212.8  1213.0
2 2023-08-30 09:02:00  1213.0  1213.3  1213.0  1213.2

In [56]:
missing_times_per_day = clean_data.check_missing_minutes(df)
print("Missing times per minutes:")

missing_times_per_day

Missing times per minutes:

{datetime.date(2023, 11, 29): ['11:06', '11:07'],
 datetime.date(2023, 12, 26): ['09:00'],
 datetime.date(2024, 9, 19): ['10:10',
  '10:11',
  '10:12',
  '10:13',
  '10:14',
  '10:15',
  '10:16',
  '10:17'],
 datetime.date(2024, 10, 4): ['09:45']}

In [103]:
df1 = clean_data.fill_missing_minutes(df[['Date', 'Close']], verbose = 0)

In [104]:
missing_times = clean_data.check_missing_minutes(df1)
print("Missing times per day:")
missing_times

Missing times per day:

{}

## Event-base backtest

In [20]:
import numpy as np
import pandas as pd
from QuantTraderLib.backtest import pnl

# Random data
data = {
    'date': pd.date_range(start='2023-01-01', periods=100, freq='B'),
    'close': np.random.random(100) * 100
}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

# Tạo vị thế
positions = np.random.choice([-1, 0, 1], size=len(df))
df['position'] = positions

In [21]:
# Tính toán PnL
pnl, valid_positions = pnl.calculate_pnl(df)

# Thêm cột PnL vào DataFrame
df['pnl'] = pnl

# In ra các vị thế hợp lệ và không hợp lệ
print("Các vị thế hợp lệ:")
for position in valid_positions:
    buy_date = df.index[position[0]]
    sell_date = df.index[position[1]]
    print(f"Mua vào {buy_date}, bán vào {sell_date}")

Vị thế trong dữ liệu của bạn có vài chỗ không chính xác:
Mua vào 2023-02-10 00:00:00, bán vào 2023-02-13 00:00:00
Các vị thế hợp lệ:
Mua vào 2023-01-02 00:00:00, bán vào 2023-01-04 00:00:00
Mua vào 2023-01-03 00:00:00, bán vào 2023-01-11 00:00:00
Mua vào 2023-01-06 00:00:00, bán vào 2023-01-13 00:00:00
Mua vào 2023-01-17 00:00:00, bán vào 2023-01-20 00:00:00
Mua vào 2023-01-24 00:00:00, bán vào 2023-01-26 00:00:00
Mua vào 2023-02-16 00:00:00, bán vào 2023-02-20 00:00:00
Mua vào 2023-02-21 00:00:00, bán vào 2023-02-24 00:00:00
Mua vào 2023-02-22 00:00:00, bán vào 2023-03-01 00:00:00
Mua vào 2023-02-23 00:00:00, bán vào 2023-03-02 00:00:00
Mua vào 2023-03-07 00:00:00, bán vào 2023-03-10 00:00:00
Mua vào 2023-03-08 00:00:00, bán vào 2023-03-20 00:00:00
Mua vào 2023-03-14 00:00:00, bán vào 2023-03-22 00:00:00
Mua vào 2023-03-24 00:00:00, bán vào 2023-03-28 00:00:00
Mua vào 2023-04-04 00:00:00, bán vào 2023-04-06 00:00:00
Mua vào 2023-04-05 00:00:00, bán vào 2023-04-07 00:00:00
Mua vào 2023-04-13 00:00:00, bán vào 2023-04-17 00:00:00
Mua vào 2023-04-14 00:00:00, bán vào 2023-04-18 00:00:00
Mua vào 2023-04-19 00:00:00, bán vào 2023-04-21 00:00:00
Mua vào 2023-04-27 00:00:00, bán vào 2023-05-04 00:00:00
Mua vào 2023-04-28 00:00:00, bán vào 2023-05-08 00:00:00
Mua vào 2023-05-02 00:00:00, bán vào 2023-05-10 00:00:00

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [22]:
df

                close  position        pnl
date
2023-01-02  78.486276         1   0.000000
2023-01-03  33.959735         1   0.000000
2023-01-04  37.970530        -1 -40.515747
2023-01-05  89.589797         0   0.000000
2023-01-06   7.640831         1   0.000000
...               ...       ...        ...
2023-05-15  41.763984         0   0.000000
2023-05-16  25.760431         1   0.000000
2023-05-17  94.777528         0   0.000000
2023-05-18  15.413327         0   0.000000
2023-05-19  29.480327         0   0.000000

[100 rows x 3 columns]